body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #444444;
}
/* global */

.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
/*End global */

/* Navigation bar */
header{
    height: 60px;
    background: black;
    color:white;
}
header .brand{
    float: left;
    line-height: 60px;
    font-size: 2em;
    letter-spacing: 5px;
    border-radius: 50%;
    background: #444444;
    padding: 10px;
}
.brand a{
    text-decoration: none;
    color: #fafafa;
}
header nav{
    overflow: hidden; 
    float: right;
}
ul{
    list-style: none;
    padding: 0;
}
nav li{
    float: left;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px 0px 5px;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    text-decoration: underlineh;
    border-bottom: 1px solid white;
}
/*End navigation bar */

/* side-nav bar */
.side-nav{
    position: absolute;
    width: 30%;
    top:0px;
    left:0;
    background: cadetblue;
    height: 700px;
    padding-left: 10px;
}
ul{
    margin: 0;
}
section{
    border-bottom: 3px solid white;
    padding: 10px 0;
}
.side-nav h3{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.side-nav li a{
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}
.content-area{
    float: right;
    background:white;
    width: 70%;
    padding: 30px 20px;
    box-sizing: border-box;
}
.title{
    margin: 0;
    padding-left: 10px;
    color: teal;
}
.service{
    text-align: center;
    margin: 4%;
    padding: 20px;
    width: 40%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid  steelblue;
    display: inline-block;
}
.service a{
    color: steelblue;
    text-decoration: none;
}
.service:hover{
    background: steelblue;
}
.service:hover a{
    color: white;
}
/*End side-nav bar */
/* form input */
/*End form input */

/*mobile devices */
@media only  screen and (max-width:420px) {
	

/* side-nav bar */
.side-nav{
    position: static;
    width: 80%;
    margin: auto;
    background: cadetblue;
    height: auto;
    padding-left: 0px;
    text-align: center;
}
ul{
    margin: 0;
}
section{
    border-bottom: 3px solid white;
    padding: 10px 0;
    
}
.side-nav h3{
    margin: 0;
}
.side-nav li a{
    padding: 10px;
    display: block;
    margin: 0;

}
.content-area{
    float: none;
    background:white;
    width: 80%;
    padding: 30px 20px;
    margin: auto;
}
.service{
    width: 90%;
}
header .brand{
    padding-bottom: 0;
}
/*End side-nav bar */
}


.success{
    color: greenyellow;
}
.pending{color:orange;}
.critical{color:red;}