body{
    margin: 0;
    padding: 0;
    background: #1f1515;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
header{
    height: 60px;
    background: black;
    color:white;
}
header .brand{
    float: left;
    line-height: 60px;
    font-size: 2em;
    letter-spacing: 5px;
    border-radius: 50%;
    background: #1f1515;
    padding: 10px;
}
.brand a{
    text-decoration: none;
    color: #fafafa;
}
header nav{
    overflow: hidden;
    float: right;
}
ul{
    list-style: none;
    padding: 0;
}
nav li{
    float: left;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    text-decoration: underlineh;
    border-bottom: 1px solid white;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
h1,p{
color: white;
text-align: center;

}
p{
    color: grey;
}

.data-form{
    border-radius: 10px;
    background: white;
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
    box-sizing: border-box;
    display:none ;
}

forn label{
  padding:10px;
}
form input{
    display: block;
    padding: 10px;
    width: 70%;
    margin-bottom: 15px;
}
form input:focus{
    border-radius: 5px;
    border: 2px solid greenyellow;
    outline:none ;
}
form input[type="submit"]{
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
form input[type="submit"]:hover{
    color: green;
    background: white;
    border: 1px solid green;
    outline: none;
}