body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/* global */

.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
/*End global */

/* Navigation bar */
header{
    height: 60px;
    background: black;
    color:white;
    padding: 0 30px;
}
header .brand{
    float: left;
    line-height: 60px;
    font-size: 1.5em;
    letter-spacing: 5px;
}
.brand a{
    text-decoration: none;
    color: #fafafa;
}
header nav{
    overflow: hidden; 
    float: right;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

nav li{
    float: left;
}
input.search{
    padding: 10px;
    border: 2px solid black;
    margin-top:10px;
    border-radius: 5px;
}
input.search.hide-body{
    display: none;
}
input.search:focus{
    border: 2px solid grey;
    outline: none;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px 0px 5px;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    text-decoration: underlineh;
    border-bottom: 1px solid white;
}
/*End navigation bar */


/* each request style */
.container h1{
    text-align: center;
    color: grey;
}
.request{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5),3px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    width: 48%; 
    margin-right: 3%;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;  
}
.request:nth-child(even){
    margin-right: 0;
}
.all-request{
    overflow: hidden;
}
.request li{
    margin-bottom: 5px;
}
.request li span{
    background:gray;
    color: white;
    padding: 2px 5px;
    display: inline-block;
}
/* end each request style */

/*mobile devices */
@media only screen and (max-width:520px){
    input.search{
        display: none;
    }
    input.search.hide-body{
        display: block;
        width: 80%;
        margin: 10px auto;

    }
    .request{
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    }
    .request:nth-child(even){
        margin-right: auto;
    }
    
}
