body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/* global */

.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.load-screen{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    z-index: 9;
}
.load-content{
    width: 300px;
    position: absolute;
    background: grey;
    padding: 20px;
    font-size: 30px;
    left: 50%;
    top:50%;
    z-index: 10;
    transform: translate(-50%,-50%);
}



/*End global */

/* Navigation bar */
header{
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    width: 100%;
    max-width: 952px;
    left: 50%;
    top: 0;
    transform: translateX(-49.5%);
    z-index: 1;
    box-sizing: border-box;
}
header .brand{
    float: left;
    line-height: 60px;
    font-size: 1.5em;
    letter-spacing: 5px;
    margin-left: 20px; 
}
.brand a{
    text-decoration: none;
    color: #fafafa;
}
header nav{
    overflow: hidden; 
    float: right;
    display: block;
    width: calc(100% - 190px);
    margin-right: 20px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

nav li{
    float: left;
    width: calc(100% - 80px);
    position: relative;
}
nav li:nth-child(even){
    width: 80px;
    float: right;
}
::placeholder{
    color: white;
}
input.search,
.search-type{
    padding: 10px;
    width: 122px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-top:10px;
    border-radius: 5px;
}
input.search{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: calc(98% - 122px);
    background: grey;
    color: white;
    margin-left: 1.5%;
    background: rgba(128, 128, 128, 0.8);
}
.search-div.hide-body-1{
    width: 100%;
    position: relative;
    
}
.search-div.hide-body-2{
    display:none;
    position: relative;
}
input.search:focus{
    border: 2px solid grey;
    outline: none;
}
.search-type{
    margin-left: -2%;
    border-left: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-width: 1px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px 0px 5px;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    border-bottom: 1px solid white;
}
/*End navigation bar */

/* alertBox style */

.alertBox{
    display: none;
    width: 100%;
    padding: 10px 20px;
    background: green;
    color: white;
    border: 1px solid green;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing:border-box ;
}

.alertBox.alert-position{
    position: fixed;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    max-width: 540px;
    margin: auto;

}
/* End alertBox style */

/* each request style */
.container h1{
    text-align: center;
    color: grey;
    margin-top: 80px;
}
.request{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 1px solid;
    border-top: 1px solid;
    padding: 10px;
    width: calc(50% - 20px); 
    margin: 20px 10px;
    box-sizing: border-box;
    display: inline-block;

    
}
.request:nth-child(even){
    margin-right: 0;
}

.all-request{
    overflow: hidden;
}
.request li{
    margin-bottom: 5px;
}
.request li span:first-child{
    background:gray;
    color: white;
    padding: 2px 5px;
    display: inline-block;
    font-size: 80%;
}

.admin-btn{
    background: green;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}
.admin-btn.admin-btn-approve:hover{
    border: 1px solid green;
    background: white;
    color: green;
}
.admin-btn.admin-btn-disapprove{
    border: 1px solid red;
    background: red;
}
.admin-btn.admin-btn-disapprove:hover{
    border: 1px solid red;
    background: white;
    color: red;
}
.counter{
    position: absolute;
    right: 12px;
    top:8px;
    font-size: 12px;
    padding: 2px;
    
    color: black;
}
.success{color: green;}
.pending{color:orange;}
.critical{color:red;}


/* end each request style */

/*mobile devices */
@media only screen and (max-width:530px){
    header{
        background: black;
    }
    header .brand{
        margin-left: 4%; 
    }
    header nav{
        margin-right: 4%;
    }
    
    .container h1{
        margin-top: 120px; 
    }
    .search-type{
        background: rgba(255,255,255,0);
    }
    .hide-body-1{
        display: none;
    }
    .search-div.hide-body-2{
        display:block;
        width: 94%;
        margin: auto;
        margin-bottom: 20px;
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }
    .request{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        margin-left: 5%;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    }
    .request:nth-child(even){
        margin-right: auto;
    }
    
}
