body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/* global */

.container{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

/*End global */

/* Navigation bar */
header{
    height: 60px;
    background: black;
    color:white;
    padding: 0 30px;
}
header .brand{
    float: left;
    line-height: 60px;
    font-size: 1.5em;
    letter-spacing: 5px;
    margin-right: 20px;
 
}
.brand a{
    text-decoration: none;
    color: #fafafa;
}
header nav{
    overflow: hidden; 
    float: left;
    display: block;
    width: calc(100% - 163px);

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

nav li{
    float: left;
    width: calc(100% - 80px);
}
nav li:nth-child(even){
    width: 80px;
    float: right;
}
::placeholder{
    color: white;
}
input.search,
.search-type{
    padding: 10px;
    width: 122px;
    box-sizing: border-box;
    border: 2px solid black;
    margin-top:10px;
    border-radius: 5px;
}
input.search{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: calc(98% - 122px);
    background: grey;
    color: white;
    margin-left: 1.5%;
}
.search-div.hide-body-1{
    width: 100%;
    
}
.search-div.hide-body-2{
    display:none;
}
input.search:focus{
    border: 2px solid grey;
    outline: none;
}
.search-type{
    margin-left: -2%;
    border-left: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-width: 1px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 20px 0px 5px;
    margin-left: 15px;
    display: inline-block;
}
a:hover{
    text-decoration: underlineh;
    border-bottom: 1px solid white;
}
/*End navigation bar */

/* alertBox style */

.alertBox{
    display: none;
    width: 100%;
    padding: 10px 20px;
    background: green;
    color: white;
    border: 1px solid green;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing:border-box ;
}

.alertBox.alert-position{
    position: fixed;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    max-width: 540px;
    margin: auto;

}
/* End alertBox style */

/* each request style */
.container h1{
    text-align: center;
    color: grey;
}
.request{
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-left: 1px solid;
    border-top: 1px solid;
    padding: 10px;
    width: 48%; 
    margin-right: 3%;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;  
}
.request:nth-child(even){
    margin-right: 0;
}
.all-request{
    overflow: hidden;
}
.request li{
    margin-bottom: 5px;
}
.request li span:first-child{
    background:gray;
    color: white;
    padding: 2px 5px;
    display: inline-block;
    font-size: 80%;
}

.admin-btn{
    background: green;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    outline: none;
}
.admin-btn.admin-btn-approve:hover{
    border: 1px solid green;
    background: white;
    color: green;
}
.admin-btn.admin-btn-disapprove{
    border: 1px solid red;
    background: red;
}
.admin-btn.admin-btn-disapprove:hover{
    border: 1px solid red;
    background: white;
    color: red;
}

.success{color: green;}
.pending{color:orange;}
.critical{color:red;}


/* end each request style */

/*mobile devices */
@media only screen and (max-width:520px){
    .search-div.hide-body-1{
        display: none;
    }
    .search-div.hide-body-2{
        display:block;
        width: 94%;
        margin: auto;
        margin-bottom: 20px;
    }
    .request{
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    }
    .request:nth-child(even){
        margin-right: auto;
    }
    
}
